:root {
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
  --Blue: #1a02cf;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Plus Jakarta Sans", sans-serif;
}

/* I use that to fix 100vh of result-section */
html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  padding: 0.85em 1.5em;
}

/* Header */

header > button {
  all: unset;
  color: var(--Slate-500);
  border-bottom: 2px solid gray;
  cursor: pointer;
}

header h1 {
  color: var(--Slate-900);
  margin-bottom: 0.4em;
}

legend {
  margin-top: 1.5em;
  padding-bottom: 0.6em;
}
/* /Header */

/* Form  */
form {
  display: flex;
  flex-direction: column;
  margin-top: 1.5em;
  color: var(--Slate-700);
}

.container-input {
  display: flex;
  position: relative;
  transition: background-color 0.4s ease;
}

.container-mortgage-type {
  display: flex;
  flex-direction: column;
  position: relative;
}

.input-label {
  margin-top: 2.5em;
  display: block;
}

.label {
  margin-bottom: 0.75em;
}

.container-input:focus-within .dollar-sign,
.container-input:focus-within .years,
.container-input:focus-within .percent-sign {
  background-color: var(--Blue);
  border-color: var(--Blue);
  color: white;
}

.input {
  border: 1px solid var(--Slate-700);
  padding: 0.9em 0.5em;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  font-weight: 600;
}

.input:focus {
  outline: none;
}

span {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: var(--Slate-300);
  width: 40px;
  height: 100%;
  border: 1px solid var(--Slate-700);
  font-weight: bold;
}

.mortgage-amount {
  padding-inline-start: 45px;
}

.mortgage-amount:focus,
.mortgage-term:focus,
.interest-rate:focus {
  border-color: var(--Blue);
}

.mortgage-term {
  padding-inline-end: 63px;
}

.interest-rate {
  padding-inline-end: 45px;
}

.dollar-sign,
.years,
.percent-sign {
  transition: background-color 0.4s ease;
}

.years,
.percent-sign {
  right: 0;
  border-radius: 0 5px 5px 0;
}

.years {
  width: 60px;
}

.dollar-sign {
  border-radius: 5px 0 0 5px;
}

/* /Form */

/* Hide arrow from input */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Form mortgage type */

.form-mortgage-type label {
  margin-bottom: 0.7em;
}

.input-type {
  margin-right: 0.85em;
}

.input-repayment,
.input-interest {
  transition: background-color 0.4s ease;
}

.input-repayment:hover,
.input-interest:hover {
  border-color: var(--Blue);
}

/* Modify circle of radio button */
.input-repayment:has(input:checked),
.input-interest:has(input:checked) {
  background-color: var(--Blue);
  color: white;
}

input[type="radio"] {
  transform: scale(1.3);
  margin-left: 0.5em;
}

.text-bold {
  font-weight: bold;
  color: var(--Slate-900);
}

.btn-submit {
  all: unset;
  background-color: var(--Lime);
  text-align: center;
  font-weight: bold;
  color: var(--Slate-900);
  padding: 0.75em 1em;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 2.2em;
  margin-bottom: 0.8em;
  transition: background-color 0.4s ease;
}

.btn-submit:hover {
  background-color: #f4ed00;
}

.btn-submit i {
  margin-right: 12px;
  font-size: 18px;
}

.btn-clear:hover,
.btn-clear:focus {
  color: var(--Slate-900);
}

/* Error state */

.error {
  border-color: red;
}

.error-span {
  color: white;
  background-color: red;
  border-color: red;
}

small {
  position: absolute;
  top: 48px;
  color: red;
}

#mortgage-type {
  top: 120px;
}

/* /Form mortgage */

/* Result section */
.section-result {
  padding: 1.5em 2em 1.5em;
  background-color: var(--Slate-900);
  display: flex;
  flex-direction: column;
  text-align: center;
}

.container-result-empty > * {
  margin-bottom: 0.6em;
}

.container-result-completed {
  text-align: left;
}

.container-result-calculated {
  margin-top: 2em;
  background-color: hsl(201, 57%, 12%);
  border-top: 5px solid var(--Lime);
  border-radius: 5px;
  padding: 1em;
}

.monthly-repayments-amount,
.total-repayments-amount {
  padding: 0.45em 0;
  font-weight: 500;
}

.monthly-repayments-amount {
  border-bottom: 1px solid var(--Slate-500);
  color: var(--Lime);
  font-size: 2.35rem;
  margin-bottom: 0.4em;
}

.total-repayments-amount {
  color: white;
  font-size: 1.5rem;
}

.result-calculated-title,
.container-result-text {
  color: var(--Slate-300);
}

.container-result-text {
  margin: 1em 0;
  line-height: 1.6;
}

.section-result h2 {
  color: var(--White);
}

.hidden {
  display: none;
}

/* /Result section */

/* media queries */

@media (min-width: 640px) {
  html {
    background-color: var(--Slate-300);
  }
  body {
    margin: auto;
    width: 80%;
    background-color: white;
    border-radius: 10px;
  }
}

@media (min-width: 750px) {
  body {
    width: 90%;
    flex-direction: row;
    max-width: 1000px;
    min-height: 100vh;
  }

  main {
    flex: 1;
    border-radius: 10px 0 0 10px;
  }

  .section-result {
    flex: 1;
    border-radius: 0 10px 10px 75px;
  }

  .btn-submit {
    margin-top: 1.45em;
  }
}

@media (min-width: 1050px) {
  main,
  .section-result {
    padding-top: 3.5em;
  }

  header,
  .wrapper-term-rate {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .wrapper-term-rate {
    gap: 15px;
    margin-top: 1em;
  }

  .btn-submit {
    width: 70%;
    margin-top: 2em;
  }

  .result-title {
    font-size: 2rem;
  }
}
